<section id="audience" class="py-5 bg-secondary">
  <div class="container">
    <h2 class="text-white">Для кого</h2>
    <p class="lead text-white">Сервис Cloud TV необходим везде, видеоэкраны контактируют с потребителем</p>
    <ul class="text-white">
      <li>Рекламные агентства indoor и outdoor рекламы</li>
      <li>Торговые центры</li>
      <li>Сети супермаркетов</li>
      <li>Сети медицинских центров</li>
      <li>Сети фитнес-центров</li>
      <li>Сети кафе и ресторанов</li>
      <li>Сети АЗС</li>
      <li>Гостиницы</li>
    </ul>
  </div>
</section>
