<section id="features" class="pb-5">
  <div class="container">
    <h2 class="text-primary lines text-center pt-5">Наши решения используют</h2>

    <div class="row align-items-center">
      <div class="col-6 col-md-3 px-5 py-2">
        <div class="text-center p-3">
          <img
            class="img-fluid"
            src="/assets/images/logos/barashka.png"
            alt="ресторан Барашка"
          >
        </div>
      </div>

      <div class="col-6 col-md-3 px-5 py-2">
        <div class="text-center p-3">
          <img
            class="img-fluid"
            src="/assets/images/logos/cherdak.png"
            alt="ресторан Барашка"
          >
        </div>
      </div>

      <div class="col-6 col-md-3 px-5 py-2">
        <div class="text-center p-3">
          <img
            class="img-fluid"
            src="/assets/images/logos/chips.png"
            alt="ресторан Барашка"
          >
        </div>
      </div>

      <div class="col-6 col-md-3 px-5 py-2">
        <div class="text-center p-3">
          <img
            class="img-fluid"
            src="/assets/images/logos/valenok.png"
            alt="ресторан Валенок"
          >
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-6 col-md-3 px-5 py-2">
        <div class="text-center p-3">
          <img
            class="img-fluid"
            src="/assets/images/logos/klevo.png"
            alt="ресторан Клёво"
          >
        </div>
      </div>

      <div class="col-6 col-md-3 px-5 py-2">
        <div class="text-center p-3">
          <img
            class="img-fluid"
            src="/assets/images/logos/luce.png"
            alt="ресторан Luce"
          >
        </div>
      </div>

      <div class="col-6 col-md-3 px-5 py-2">
        <div class="text-center p-3">
          <img
            class="img-fluid"
            src="/assets/images/logos/novikov.png"
            alt="ресторан Новиков"
          >
        </div>
      </div>

      <div class="col-6 col-md-3 px-5 py-2">
        <div class="text-center p-3">
          <img
            class="img-fluid"
            src="/assets/images/logos/prichal.png"
            alt="ресторан Причал"
          >
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-6 col-md-3 px-5 py-2">
        <div class="text-center p-3">
          <img
            class="img-fluid"
            src="/assets/images/logos/shore-house.png"
            alt="ресторан Клёво"
          >
        </div>
      </div>

      <div class="col-6 col-md-3 px-5 py-2">
        <div class="text-center p-3">
          <img
            class="img-fluid"
            src="/assets/images/logos/strana.png"
            alt="ресторан Luce"
          >
        </div>
      </div>

      <div class="col-6 col-md-3 px-5 py-2">
        <div class="text-center p-3">
          <img
            class="img-fluid"
            src="/assets/images/logos/syr.png"
            alt="ресторан Новиков"
          >
        </div>
      </div>

      <div class="col-6 col-md-3 px-5 py-2">
        <div class="text-center p-3">
          <img
            class="img-fluid"
            src="/assets/images/logos/terra.png"
            alt="ресторан Причал"
          >
        </div>
      </div>
    </div>
  </div>
</section>
