<section id="features" class="bg-light pb-5">
  <div class="container">
    <h2 class="text-primary lines text-center py-5">Функции</h2>
    <p class="lead">Сервис Cloud TV позволяет управлять видеоконтентом в территориально распределенной сети видеоэкранов.</p>

    <div class="row">
      <div class="col-4 col-md-2">
        <img
          class="img-fluid mr-3"
          src="/assets/images/remote-control.svg"
          alt="Каналы"
        >
      </div>
      <div class="col-8 col-md-10">
        <div>
          <p class="h5 font-weight-bold">Каналы</p>
          <p>Создайте один или несколько каналов, загрузите видео и решайте, на каких экранах какой контент показывать.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 col-md-2">
        <img
          class="img-fluid mr-3"
          src="/assets/images/megaphone.svg"
          alt="Реклама"
        >
      </div>
      <div class="col-8 col-md-10">
        <div>
          <p class="h5 font-weight-bold">Реклама</p>
          <p>Загружайте рекламных ролики и указывайте частоту воспроизведения. Рекламные блоки сформируются автоматически.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 col-md-2">
        <img
          class="img-fluid mr-3"
          src="/assets/images/schedule.svg"
          alt="Расписание"
        >
      </div>
      <div class="col-8 col-md-10">
        <div>
          <p class="h5 font-weight-bold">Расписание</p>
          <p>При желании, укажите дату начала и окончания воспроизведения. Видеоролики будут играть по заданному расписанию даже off-line!</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 col-md-2">
        <img
          class="img-fluid mr-3"
          src="/assets/images/offline.svg"
          alt="Расписание"
        >
      </div>
      <div class="col-8 col-md-10">
        <div>
          <p class="h5 font-weight-bold">Работа off-line</p>
          <p>Вне зависимости от скорости и стабильности Интернета, все загруженные видеоролики будет воспроизводиться без проблем.</p>
        </div>
      </div>
    </div>

    <!-- <div class="card-deck">
      <div class="card border-0 bg-light">
        <img class="card-img-top" src="/assets/images/laptop-colour.svg" alt="Card image cap" style="max-width: 100">
        <div class="card-body">
          <p class="card-title font-weight-bold">1. Загрузите видео на сервер Cloud TV</p>
        </div>
      </div>
      <div class="card border-0 bg-light">
        <img class="card-img-top" src="/assets/images/player-and-tv-colour.svg" alt="Card image cap">
        <div class="card-body">
          <p class="card-title font-weight-bold">2. Приобретите или получите бесплатно<sup>*</sup> плееры Cloud TV и подключите их к своим экранам</p>
        </div>
      </div>
      <div class="card border-0 bg-light">
        <img class="card-img-top px-5" src="/assets/images/globe-colour.svg" alt="Card image cap">
        <div class="card-body">
          <p class="card-title font-weight-bold">3. Смотрите видео на всех ваших экранах</p>
        </div>
      </div>
      </div>
      <p class="text-muted">* При оплате годовой подписки на сервис Cloud TV вы получаете плеер Cloud TV бесплатно!</p>
    </div> -->
  </div>
</section>
