<section id="features" class="bg-light pb-5">
  <div class="container">
    <h2 class="text-primary lines text-center py-5">Функции</h2>
    <p class="lead">Сервис Cloud TV позволяет управлять видеоконтентом в территориально распределенной сети видеоэкранов.</p>

    <div class="row">
      {% for feature in page.features %}
        <div class="col-12 col-sm-6 col-md-3">
          <div class="text-center">
            <img style="width: 40%" src="{{ feature.image_url }}" alt="{{ feature.image_alt }}">
            <p class="h5 font-weight-bold">{{ feature.title }}</p>
          </div>
          <p>{{ feature.description }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
