<section id="price" class="py-5 bg-success">
  <div class="container w-75">
    <h2 class="text-white mb-4">Заказать демонстрацию</h2>
    <form class="container" id="needs-validation" novalidate>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="validationCustom01">Имя</label>
          <input type="text" class="form-control" id="validationCustom01" required>
        </div>
        <div class="col-md-6 mb-3">
          <label for="validationCustom02">Компания</label>
          <input type="text" class="form-control" id="validationCustom02" required>
        </div>
      </div>
      <div class="row">
        <div class="col mb-3">
          <label for="validationCustom03">Город</label>
          <input type="text" class="form-control" id="validationCustom03" required>
          <div class="invalid-feedback">
            Please provide a valid city.
          </div>
        </div>
        <div class="col  mb-3">
          <label for="validationCustom04">E-mail</label>
          <input type="text" class="form-control" id="validationCustom04" required>
          <div class="invalid-feedback">
            Please provide a valid state.
          </div>
        </div>
        <div class="col mb-3">
          <label for="validationCustom05">Телефон</label>
          <input type="text" class="form-control" id="validationCustom05" required>
          <div class="invalid-feedback">
            Please provide a valid zip.
          </div>
        </div>
      </div>
      <button class="btn btn-primary" type="submit">Отправить</button>
    </form>

    <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      "use strict";
      window.addEventListener("load", function() {
        var form = document.getElementById("needs-validation");
        form.addEventListener("submit", function(event) {
          if (form.checkValidity() == false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add("was-validated");
        }, false);
      }, false);
    }());
    </script>
  </div>
</section>
