<section>
  <div class="container">
    <h2 class="text-muted mb-5">Как это работает</h2>
    <div class="card-deck">
      <div class="card border-0">
        <img class="card-img-top rounded-circle bg-light" src="/assets/images/web-interface.png" alt="Card image cap">
        <div class="card-body">
          <p class="card-title font-weight-bold">1. Загружаете видео на сервер</p>
        </div>
      </div>
      <div class="card border-0">
        <img class="card-img-top rounded-circle bg-light" src="/assets/images/tv.png" alt="Card image cap">
        <div class="card-body">
          <p class="card-title font-weight-bold">2. Подключаете к экранам плееры</p>
        </div>
      </div>
      <div class="card border-0">
        <img class="card-img-top rounded-circle bg-light" src="/assets/images/tv.png" alt="Card image cap">
        <div class="card-body">
          <p class="card-title font-weight-bold">3. Смотрите видео всех ваших экранах</p>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
