<section id="how-it-works" class="py-5">
  <div class="container">
    <h2 class="text-muted text-center">Как это работает</h2>
    <p class="lead">Сервис Cloud TV позволяет управлять видеоконтентом в территориально распределенной сети видеоэкранов:</p>
    <div class="card-deck">
      <div class="card border-0">
        <img class="card-img-top bg-light" src="/assets/images/upload.svg" alt="Card image cap">
        <div class="card-body">
          <p class="card-title font-weight-bold">1. Загрузите видео на сервер Cloud TV</p>
        </div>
      </div>
      <div class="card border-0">
        <img class="card-img-top bg-light" src="/assets/images/connect.svg" alt="Card image cap">
        <div class="card-body">
          <p class="card-title font-weight-bold">2. Приобретите или получите бесплатно<sup>*</sup> плееры Cloud TV и подключите их к своим экранам</p>
        </div>
      </div>
      <div class="card border-0">
        <img class="card-img-top" src="/assets/images/globe-play.svg" alt="Card image cap">
        <div class="card-body">
          <p class="card-title font-weight-bold">3. Смотрите видео на всех ваших экранах</p>
        </div>
      </div>
      </div>
      <p class="text-muted">* При оплате годовой подписки на сервис Cloud TV вы получаете плеер Cloud TV бесплатно!</p>
    </div>
  </div>
</section>
