<section id="how-it-works" class="pb-5">
  <div class="container">
    <h2 class="lines text-center text-primary py-5">Как это работает</h2>
    <p class="lead">Чтобы начать трансляцию своего канала, тужен только экран и популярный микрокомпьютер Raspberry Pi 3 model B.</p>
    <div class="row">
      <div class="col-12 col-md-8">
        <p>Вы можете заказать Raspberry Pi 3 model B <a href="https://www.raspberrypi.org/products/raspberry-pi-3-model-b/" target="_blank">у официального дилера</a>, <a href="https://market.yandex.ru/catalog/61856/list?text=raspberry%20pi%203%20model%20b" target="_blank">в интернет-магазине</a> или купить в местном магазине электроники со специализацией "сделай сам".</p>
        <p>Блок питания, флэш-карта и корпус могут продаваться отдельно.</p>
        <p>Для подключения Raspberry Pi 3 model B к Cloud TV следуйте инструкциям в личном кабинете Cloud TV.</p>
      </div>
      <figure class="col-12 col-md-4">
        <img
          class="img-fluid"
          src="/assets/images/raspberry-pi.png"
          alt="Raspberry Pi video signage"
        >
        <figcaption class="text-center mt-3">
          <b>Raspberry Pi model B</b>
        </figcaption>
      </figure>
    </div>
  </div>
</section>
