<div
  class="jumbotron jumbotron-fluid bg-primary"
  style="margin-bottom: 0"
  id="main"
>
  <div class="container">
    <h1 class="text-center text-white display-3 pb-5">Корпоративное <span style="color: #f37271;">⟩</span> TV</h1>
    <div class="row align-items-center text-center">
      <div class="col-12 col-md-6 pb-3">
          <p class="h2 text-success">Актуальный контент<br>на всех экранах</p>
          <p class="lead text-light">управляйте сетью видеоэкранов<br>из личного кабинета Cloud TV</p>
      </div>
      <div class="col pb-3">
        <img class="w-75" alt="digital signage" src="assets/images/cloud-tv.png">
      </div>
    </div>
  </div>
</div>
