<div class="jumbotron jumbotron-fluid bg-primary" style="margin-bottom: 0">
  <div class="container">
    <h1 class="text-center text-white display-2 py-3">Cloud <span style="color: #f37271;">⟩</span> TV</h1>
    <div class="row align-items-center text-center">
      <div class="col-12 col-md-6">
          <p class="h1 text-success">Загрузите раз<br>cмотрите везде</p>
          <p class="lead text-light">управляйте сетью видеоэкранов<br>из личного кабинета Cloud TV</p>
      </div>
      <div class="col">
        <img class="w-75" alt="digital signage" src="assets/images/cloud-tv.png">
      </div>
    </div>
  </div>
</div>
