<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Cloud TV</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link active" href="/">Главная <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/#how-it-works">Как это работает</a>
        <a class="nav-item nav-link" href="/">Цены</a>
        <a class="nav-item nav-link" href="/">Контакты</a>
      </div>
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/" data-toggle="tooltip" data-placement="bottom" title="Раздел в  разработке">Зарегистрироваться</a>
        <a class="nav-item nav-link btn btn-outline-primary" href="/" data-toggle="tooltip" data-placement="bottom" title="Раздел в  разработке">Войти</a>
      </div>
    </div>
  </div>
</nav>
