<section class="bg-dark text-light py-5">
  <div class="container">
    <h2 class="text-muted text-center">Умный плейлист</h2>
    <div class="row">
      <div class="col-8">
        <div class="p-5">
          <img class="img-fluid rounded" src="/assets/images/master.jpg" alt="Автоматическое составление плейлиста">
        </div>
      </div>
      <div class="col-4 my-5">
        <h3 class="mb-4">Автоматическое составление плейлиста</h3>
        Забудьте о ручном составлении плейлиста: вам достаточно указать когда начать и когда закончить воспроизведение, и частоту показов. Остальное сделает наша система!
      </div>
    </div>
  </div>
</section>
