<section class="bg-dark text-light py-5">
  <div class="container">
    <h2 class="text-muted text-center">Умный плейлист</h2>
    <div class="row">
      <div class="col-12">
        <p class="lead">Достаточно указать частоту показов и период воспроизведения. Остальное сделает Cloud TV.</p>
      </div>
      <div class="col-8">
        <div class="p-5">
          <img class="img-fluid rounded" src="/assets/images/master.jpg" alt="Автоматическое составление плейлиста">
        </div>
      </div>
      <div class="col-4 my-5">
        <h3 class="mb-4">Временной диапазон</h3>
        <ul>
          <li>Воспроизведение видеоролика с определенной даты</li>
          <li>Окончание воспроизведения видеоролика с определенной даты</li>
        </ul>
        <h3 class="mb-4">Рекламные блоки</h3>
        <ul>
          <li>Повторение видеороликов с определенной частотой показов в час</li>
          <li>Примешивание <i>рекламных</i> роликов в основной плейлист</li>
          <li>Возможность включать заставки до и после каждого рекламного блока</li>
        </ul>
      </div>
    </div>
  </div>
</section>
