<section id="price" class="pb-5 bg-light">
  <div class="container">
    <h2 class="lines text-primary py-5 text-center">Тарифы</h2>
      <div class="row">
        <div class="col-12 col-md-4 mb-3">
          <div class="card">
            <div class="card-header bg-secondary text-center">
              <p class="h4 card-title text-white m-3">1-10 плееров</p>
            </div>
            <div class="card-body text-center">
              <p>Хранилище 10GB</p>
              <p class="card-text"><span class="h3">3000</span>&#8381;<br><span class="">в месяц за один плеер</span></p>
              <a class="btn btn-primary text-white" href="mailto:hello@cloud-tv.ru">Заявка</a>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 mb-3">
          <div class="card">
            <div class="card-header bg-secondary text-center">
              <p class="h4 card-title text-white m-3">10-50 плееров</p>
            </div>
            <div class="card-body text-center">
              <p>Хранилище 30GB</p>
              <p class="card-text"><span class="h3">2500</span>&#8381;<br><span class="">в месяц за один плеер</span></p>
              <a class="btn btn-primary text-white" href="mailto:hello@cloud-tv.ru">Заявка</a>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 mb-3">
          <div class="card">
            <div class="card-header bg-secondary text-center">
              <p class="h4 card-title text-white m-3">50+ плееров</p>
            </div>
            <div class="card-body text-center">
              <p>Хранилище 60GB</p>
              <p class="card-text"><span class="h3">2000</span>&#8381;<br><span class="">в месяц за один плеер</span></p>
              <a class="btn btn-primary text-white" href="mailto:hello@cloud-tv.ru">Заявка</a>
            </div>
          </div>
        </div>
      </div>
      <p>На время подписки плееры Cloud TV предоставляется бесплатно. Минимальный срок подписки – 3 месяца.</p>
  </div>
</section>
