<section id="price" class="py-5">
  <div class="container">
    <h2 class="text-muted mb-4">Цены</h2>
    <div class="card-deck">
      <div class="card text-center">
        <div class="card-header">
          <p class="h4 card-title mb-0">1 месяц</p>
        </div>
        <div class="card-body bg-secondary text-white">
          <p class="card-text font-weight-bold">1500 рублей/месяц</p>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary">Испытать</a>
        </div>
      </div>

      <div class="card text-center">
        <div class="card-header">
          <p class="h4 card-title mb-0">6 месяцев</p>
        </div>
        <div class="card-body bg-secondary text-white">
          <p class="card-text font-weight-bold">1350 рублей/месяц</p>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary">Испытать</a>
        </div>
      </div>

      <div class="card text-center">
        <div class="card-header">
          <p class="h4 card-title mb-0">12 месяцев</p>
        </div>
        <div class="card-body bg-secondary text-white">
          <p class="card-text font-weight-bold">1200 рублей/месяц</p>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary">Испытать</a>
        </div>
      </div>
    </div>
  </div>
</section>
