<section id="price" class="pb-5 bg-light">
  <div class="container">
    <h2 class="lines text-primary py-5 text-center">Тарифы</h2>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-3 mb-3">
          <div class="card" style="transform: scale(0.95);">
            <div class="card-header bg-secondary text-center">
              <p class="h4 card-title text-white">Бесплатный</p>
              <p class="card-subtitle text-light">до 3 устройств</p>
            </div>
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item">Интеграция с Google Drive</li>
              </ul>
            </div>
            <div class="card-body pt-0 text-center">
              <p class="card-text"><span class="h3">0</span>&#8381;<br><span class="">в месяц за одно устройство</span></p>
              <a class="btn btn-primary text-white disabled" href="mailto:hello@cloud-tv.ru" disabled>Скоро</a>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3 mb-3">
          <div class="card" style="transform: scale(0.95);">
            <div class="card-header bg-secondary text-center">
              <p class="h4 card-title text-white">Облачный</p>
              <p class="card-subtitle text-light">от 3 устройств</p>
            </div>
            <div class="card-body">
              <p class="text-center">Все возможности тарифа &laquo;Бесплатный&raquo; плюс</p>
              <ul class="list-group">
                <li class="list-group-item">Возможность размещения видеофайлов на серверах Cloud TV</li>
              </ul>
            </div>
            <div class="card-body pt-0 text-center">
              <p class="card-text"><span class="h3">900</span>&#8381;<br><span>в месяц за одно устройство</span></p>
              <a class="btn btn-primary text-white" href="mailto:hello@cloud-tv.ru">Заявка</a>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3 mb-3">
          <div class="card">
            <div class="card-header bg-secondary text-center">
              <p class="h4 card-title text-white">Под ключ</p>
              <p class="card-subtitle text-light">от 20 устройств</p>
            </div>
            <div class="card-body">
              <p class="text-center">Все возможности тарифа &laquo;Облачный&raquo; плюс</p>
              <ul class="list-group">
                <li class="list-group-item">Бесплатное предоставление в пользование и подключение плееров Raspberry Pi в пределах МКАД</li>
              </ul>
            </div>
            <div class="card-body pt-0 text-center">
              <p class="card-text"><span class="h3">2900</span>&#8381;<br><span class="">в месяц за одно устройство</span></p>
              <a class="btn btn-primary text-white" href="mailto:hello@cloud-tv.ru">Заявка</a>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3 mb-3">
          <div class="card" style="transform: scale(0.95);">
            <div class="card-header bg-secondary text-center">
              <p class="h4 card-title text-white">Контент Cloud TV</p>
              <p class="card-subtitle text-light">от 20 устройств</p>
            </div>
            <div class="card-body">
              <p class="text-center">Все возможности тарифа &laquo;Под ключ&raquo; плюс</p>
              <ul class="list-group">
                <li class="list-group-item">Наполнение канала контентом</li>
              </ul>
            </div>
            <div class="card-body pt-0 text-center">
              <p class="card-text"><span class="h3">8000</span>&#8381;<br><span class="">в месяц за одно устройство</span></p>
              <a class="btn btn-primary text-white disabled" href="mailto:hello@cloud-tv.ru" disabled>Скоро</a>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
