//
// Color system
//

$white:  #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:  #000 !default;

$grays: (
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900
) !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: (
  blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  white: $white,
  gray: $gray-600,
  gray-dark: $gray-800
) !default;

// my custom colours
$blue: hsl(212, 45, 50);
$dark-blue: hsl(212, 44, 33);
$light-blue: hsl(212, 88, 78);

$theme-colors: (
  primary: $blue,
  secondary: $dark-blue,
  success: $light-blue,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-300,
  dark: #152436
);

// my stuff

$enable-shadows: true;
$enable-gradients: true;

$custom-file-text: (
  placeholder: (
    ru: 'Выберите файл...'
  ),
  button-label: (
    ru: 'Выбрать'
  )
) !default;

$headings-font-family: 'Arsenal', sans-serif;
$font-family-base: 'Open Sans', sans-serif;

// This maybe should be moved to a separate font-family-base

// FONTS

// https://stackoverflow.com/a/23610466/5274538
// scss-lint:disable PlaceholderInExtend
.lines {
  &::after,
  &::before {
    @extend .d-none;
    @extend .d-sm-inline;
    content: '\00a0\00a0\00a0\00a0\00a0\00a0';
    font-family: monospace;
    padding: .5em;
    text-decoration: line-through;
  }
}
